In [1]:
import pandas as pd
import numpy as np

import env
import os

# Clustering - Data Wrangling Exercises

## Zillow 
### Acquire and Summarize
##### Exercise 1. Acquire data from the cloud database.

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [2]:
def get_zillow():
    '''
    This function acquires the requisite zillow data from the Codeup SQL database and caches it locally it for future use in a csv 
    document; once the data is accessed the function then returns it as a dataframe.
    '''

    filename = "zillow.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        query = query = '''
        SELECT 
        `parcelid`,
        `airconditioningtypeid`,
        `architecturalstyletypeid`,
        `basementsqft`,
        `bathroomcnt`,
        `bedroomcnt`,
        `buildingclasstypeid`,
        `buildingqualitytypeid`,
        `calculatedbathnbr`,
        `decktypeid`,
        `finishedfloor1squarefeet`,
        `calculatedfinishedsquarefeet`,
        `finishedsquarefeet12`,
        `finishedsquarefeet13`,
        `finishedsquarefeet15`,
        `finishedsquarefeet50`,
        `finishedsquarefeet6`,
        `fips`,
        `fireplacecnt`,
        `fullbathcnt`,
        `garagecarcnt`,
        `garagetotalsqft`,
        `hashottuborspa`,
        `heatingorsystemtypeid`,
        `latitude`,
        `longitude`,
        `lotsizesquarefeet`,
        `poolcnt`,
        `poolsizesum`,
        `pooltypeid10`,
        `pooltypeid2`,
        `pooltypeid7`,
        `propertycountylandusecode`,
        `propertylandusetypeid`,
        `propertyzoningdesc`,
        `rawcensustractandblock`,
        `regionidcity`,
        `regionidcounty`,
        `regionidneighborhood`,
        `regionidzip`,
        `roomcnt`,
        `storytypeid`,
        `threequarterbathnbr`,
        `typeconstructiontypeid`,
        `unitcnt`,
        `yardbuildingsqft17`,
        `yardbuildingsqft26`,
        `yearbuilt`,
        `numberofstories`,
        `fireplaceflag`,
        `structuretaxvaluedollarcnt`,
        `taxvaluedollarcnt`,
        `assessmentyear`,
        `landtaxvaluedollarcnt`,
        `taxamount`,
        `taxdelinquencyflag`,
        `taxdelinquencyyear`,
        `censustractandblock`,
        `propertylandusedesc`,
        `logerror`,
        `transactiondate`
        
        FROM `properties_2017`
        JOIN
            propertylandusetype USING (propertylandusetypeid)
        JOIN
            predictions_2017 USING (parcelid)
        Where
            propertylandusedesc = 'Single Family Residential' AND 
            transactiondate LIKE '2017-%%';   
        '''
        url = env.get_db_url('zillow')
        df = pd.read_sql(query, url)
        df.to_csv(filename, index = False)

        return df

In [3]:
df = get_zillow()

In [4]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc,logerror,transactiondate
0,11508656,NaN,NaN,NaN,2.0,2.0,NaN,4.0,2.0,NaN,...,320531.0,2016.0,262521.0,3687.75,NaN,NaN,6.037621e+13,Single Family Residential,-0.217955,2017-01-05
1,12854999,NaN,NaN,NaN,2.0,4.0,NaN,6.0,2.0,NaN,...,426363.0,2016.0,277197.0,5047.80,NaN,NaN,6.037403e+13,Single Family Residential,-0.041983,2017-01-05
2,11532400,NaN,NaN,NaN,1.0,3.0,NaN,4.0,1.0,NaN,...,224273.0,2016.0,145780.0,2700.53,NaN,NaN,6.037276e+13,Single Family Residential,1.035335,2017-01-05
3,12074210,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,NaN,...,477322.0,2016.0,381863.0,5291.95,NaN,NaN,6.037301e+13,Single Family Residential,-0.033759,2017-01-05
4,11978142,NaN,NaN,NaN,1.0,2.0,NaN,4.0,1.0,NaN,...,643551.0,2016.0,501306.0,9267.35,NaN,NaN,6.037183e+13,Single Family Residential,-0.023127,2017-01-05

##### Exercise 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [5]:
df.shape

(52441, 61)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   airconditioningtypeid         13638 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   52441 non-null  float64
 5   bedroomcnt                    52441 non-null  float64
 6   buildingclasstypeid           0 non-null      float64
 7   buildingqualitytypeid         33740 non-null  float64
 8   calculatedbathnbr             52304 non-null  float64
 9   decktypeid                    389 non-null    float64
 10  finishedfloor1squarefeet      4381 non-null   float64
 11  calculatedfinishedsquarefeet  52359 non-null  float64
 12  finishedsquarefeet12          52194 non-null  float64
 13  finishedsquarefeet13          0 non-null      float64
 14  finishedsquarefeet15          0 non-null      float64
 15  finishedsquarefeet50          4381 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          52441 non-null  float64
 18  fireplacecnt                  7243 non-null   float64
 19  fullbathcnt                   52304 non-null  float64
 20  garagecarcnt                  18015 non-null  float64
 21  garagetotalsqft               18015 non-null  float64
 22  hashottuborspa                1515 non-null   float64
 23  heatingorsystemtypeid         33935 non-null  float64
 24  latitude                      52441 non-null  float64
 25  longitude                     52441 non-null  float64
 26  lotsizesquarefeet             52072 non-null  float64
 27  poolcnt                       11096 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  444 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10009 non-null  float64
 32  propertycountylandusecode     52441 non-null  object
 33  propertylandusetypeid         52441 non-null  float64
 34  propertyzoningdesc            33848 non-null  object
 35  rawcensustractandblock        52441 non-null  float64
 36  regionidcity                  51404 non-null  float64
 37  regionidcounty                52441 non-null  float64
 38  regionidneighborhood          19033 non-null  float64
 39  regionidzip                   52415 non-null  float64
 40  roomcnt                       52441 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6724 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       33847 non-null  float64
 45  yardbuildingsqft17            1937 non-null   float64
 46  yardbuildingsqft26            63 non-null     float64
 47  yearbuilt                     52325 non-null  float64
 48  numberofstories               14561 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52357 non-null  float64
 51  taxvaluedollarcnt             52440 non-null  float64
 52  assessmentyear                52441 non-null  float64
 53  landtaxvaluedollarcnt         52440 non-null  float64
 54  taxamount                     52437 non-null  float64
 55  taxdelinquencyflag            2079 non-null   object
 56  taxdelinquencyyear            2079 non-null   float64
 57  censustractandblock           52318 non-null  float64
 58  propertylandusedesc           52441 non-null  object
 59  logerror                      52441 non-null  float64
 60  transactiondate               52441 non-null  object
dtypes: float64(55), int64(1), object(5)
memory usage: 24.4+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,52441.0,1.299912e+07,3.411444e+06,1.071186e+07,1.151022e+07,1.257764e+07,1.412953e+07,1.676878e+08
airconditioningtypeid,13638.0,2.438041e+00,3.846176e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52441.0,2.299403e+00,1.022772e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52441.0,3.300681e+00,9.490939e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingclasstypeid,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingqualitytypeid,33740.0,6.264167e+00,1.716162e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52304.0,2.304738e+00,1.017966e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,389.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4381.0,1.545611e+03,6.748653e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.759000e+03,6.912000e+03
calculatedfinishedsquarefeet,52359.0,1.922891e+03,1.004366e+03,1.280000e+02,1.268000e+03,1.659000e+03,2.306000e+03,2.192900e+04
finishedsquarefeet12,52194.0,1.925046e+03,1.004275e+03,1.280000e+02,1.270000e+03,1.660500e+03,2.308000e+03,2.192900e+04
finishedsquarefeet13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,4381.0,1.566375e+03,7.445229e+02,1.840000e+02,1.152000e+03,1.414000e+03,1.770000e+03,1.246700e+04
finishedsquarefeet6,165.0,1.241079e+03,7.769591e+02,3.800000e+02,7.840000e+02,1.008000e+03,1.320000e+03,5.598000e+03
fips,52441.0,6.049132e+03,2.102907e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7243.0,1.209858e+00,5.128851e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52304.0,2.239580e+00,9.932070e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,18015.0,1.948987e+00,5.499437e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,18015.0,4.958757e+02,1.570447e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1515.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,33935.0,3.966288e+00,2.562506e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,52441.0,3.402254e+07,2.739787e+05,3.334062e+07,3.382691e+07,3.402378e+07,3.418715e+07,3.481877e+07
longitude,52441.0,-1.181942e+08,3.566626e+05,-1.194754e+08,-1.184007e+08,-1.181531e+08,-1.179292e+08,-1.175546e+08
lotsizesquarefeet,52072.0,1.133962e+04,8.674763e+04,2.360000e+02,5.583000e+03,6.840500e+03,8.798250e+03,6.971010e+06
poolcnt,11096.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.183183e+02,1.564682e+02,2.400000e+01,4.245000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,444.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,10009.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,52441.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,52441.0,6.049443e+07,2.086892e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51404.0,3.350144e+04,4.917519e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52441.0,2.524588e+03,8.039900e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,19033.0,1.802671e+05,1.598249e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52415.0,9.663585e+04,4.605108e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52441.0,1.893709e+00,3.146437e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,6724.0,1.013682e+00,1.426160e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
unitcnt,33847.0,1.000916e+00,3.121163e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1937.0,3.376278e+02,2.500216e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52325.0,1.963394e+03,2.313357e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14561.0,1.413914e+00,5.406765e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52357.0,1.965338e+05,2.543401e+05,1.290000e+02,7.707100e+04,1.318110e+05,2.263340e+05,9.164901e+06
taxvaluedollarcnt,52440.0,5.296882e+05,7.518946e+05,1.000000e+03,1.937475e+05,3.736120e+05,6.193012e+05,4.906124e+07
assessmentyear,52441.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52440.0,3.334655e+05,5.705278e+05,1.610000e+02,7.602075e+04,2.180320e+05,4.086068e+05,4.895220e+07
taxamount,52437.0,6.453511e+03,8.755568e+03,4.918000e+01,2.656220e+03,4.647740e+03,7.377500e+03,5.866393e+05
taxdelinquencyyear,2079.0,1.410245e+01,2.394972e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,52318.0,6.050240e+13,1.859036e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14
logerror,52441.0,1.829849e-02,1.775010e-01,-4.655420e+00,-2.463880e-02,7.010779e-03,4.069204e-02,5.262999e+00

##### Exercise 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [8]:
def obs_attr(df):
    num_rows_missing = []
    pct_rows_missing = []
    column_name = []
    for column in df.columns.tolist():
        num_rows_missing.append(df[column].isna().sum())
        pct_rows_missing.append(df[column].isna().sum() / len(df))
        column_name.append(column)
    new_info = {'column_name':column_name, 'num_rows_missing': num_rows_missing, 'pct_rows_missing': pct_rows_missing}
    return pd.DataFrame(new_info, index=None)

In [9]:
zillow_obs = obs_attr(df)
zillow_obs.set_index('column_name', inplace=True)
zillow_obs.head(60)

                              num_rows_missing  pct_rows_missing
column_name
parcelid                                     0          0.000000
airconditioningtypeid                    38803          0.739936
architecturalstyletypeid                 52371          0.998665
basementsqft                             52394          0.999104
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      52441          1.000000
buildingqualitytypeid                    18701          0.356610
calculatedbathnbr                          137          0.002612
decktypeid                               52052          0.992582
finishedfloor1squarefeet                 48060          0.916458
calculatedfinishedsquarefeet                82          0.001564
finishedsquarefeet12                       247          0.004710
finishedsquarefeet13                     52441          1.000000
finishedsquarefeet15                     52441          1.000000
finishedsquarefeet50                     48060          0.916458
finishedsquarefeet6                      52276          0.996854
fips                                         0          0.000000
fireplacecnt                             45198          0.861883
fullbathcnt                                137          0.002612
garagecarcnt                             34426          0.656471
garagetotalsqft                          34426          0.656471
hashottuborspa                           50926          0.971110
heatingorsystemtypeid                    18506          0.352892
latitude                                     0          0.000000
longitude                                    0          0.000000
lotsizesquarefeet                          369          0.007036
poolcnt                                  41345          0.788410
poolsizesum                              51574          0.983467
pooltypeid10                             51997          0.991533
pooltypeid2                              51370          0.979577
pooltypeid7                              42432          0.809138
propertycountylandusecode                    0          0.000000
propertylandusetypeid                        0          0.000000
propertyzoningdesc                       18593          0.354551
rawcensustractandblock                       0          0.000000
regionidcity                              1037          0.019775
regionidcounty                               0          0.000000
regionidneighborhood                     33408          0.637059
regionidzip                                 26          0.000496
roomcnt                                      0          0.000000
storytypeid                              52394          0.999104
threequarterbathnbr                      45717          0.871780
typeconstructiontypeid                   52365          0.998551
unitcnt                                  18594          0.354570
yardbuildingsqft17                       50504          0.963063
yardbuildingsqft26                       52378          0.998799
yearbuilt                                  116          0.002212
numberofstories                          37880          0.722336
fireplaceflag                            52360          0.998455
structuretaxvaluedollarcnt                  84          0.001602
taxvaluedollarcnt                            1          0.000019
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        1          0.000019
taxamount                                    4          0.000076
taxdelinquencyflag                       50362          0.960355
taxdelinquencyyear                       50362          0.960355
censustractandblock                        123          0.002345
propertylandusedesc                          0          0.000000
logerror                                     0          0.000000

Many of the columns essentially have no data in them. I need to get ride of the majority of them as they are just junk and decide how to deal with the nulls in the remaining columns after.

### Prepare
##### Exercise 1: Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...)

In [10]:
df.propertylandusedesc.value_counts()

Single Family Residential    52441
Name: propertylandusedesc, dtype: int64

As seen above, I took care of this in my SQL query and only pulled in Single Family Residential properties.

##### Exercise 2: Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [11]:
def drop_undesired(df, prop_required_column = .9, prop_required_row = .9):
    ''' This function takes in a dataframe and drops columns based on whether it meets the threshold for having values
    in rows and not null values. It then drops any rows based on whether it meets the threshold for having enough
    values in the row.
    
    Arguments: df - a dataframe
                prop_required_column - the proportion of a given column that must be filled by values and not nulls
                prop_required_row - the proportion of a given row that must be filled by values and not nulls
    Returns: a dataframe which no longer has the rows and columns dropped that didn't meet the threshhold.
    '''
    for column in df.columns.tolist():
        if 1-(df[column].isna().sum() / len(df)) < prop_required_column:
            df = df.drop(column, axis = 1)
            
    for row in range(len(df)):
        if 1-(df.loc[row].isna().sum() / len(df.loc[row])) < prop_required_row:
            df = df.drop(row, axis=0)
    return df

In [12]:
drop_undesired(df).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52296 entries, 0 to 52440
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52296 non-null  int64
 1   bathroomcnt                   52296 non-null  float64
 2   bedroomcnt                    52296 non-null  float64
 3   calculatedbathnbr             52260 non-null  float64
 4   calculatedfinishedsquarefeet  52295 non-null  float64
 5   finishedsquarefeet12          52151 non-null  float64
 6   fips                          52296 non-null  float64
 7   fullbathcnt                   52260 non-null  float64
 8   latitude                      52296 non-null  float64
 9   longitude                     52296 non-null  float64
 10  lotsizesquarefeet             51961 non-null  float64
 11  propertycountylandusecode     52296 non-null  object
 12  propertylandusetypeid         52296 non-null  float64
 13  rawcensustractandblock        52296 non-null  float64
 14  regionidcity                  51293 non-null  float64
 15  regionidcounty                52296 non-null  float64
 16  regionidzip                   52294 non-null  float64
 17  roomcnt                       52296 non-null  float64
 18  yearbuilt                     52269 non-null  float64
 19  structuretaxvaluedollarcnt    52237 non-null  float64
 20  taxvaluedollarcnt             52296 non-null  float64
 21  assessmentyear                52296 non-null  float64
 22  landtaxvaluedollarcnt         52296 non-null  float64
 23  taxamount                     52293 non-null  float64
 24  censustractandblock           52217 non-null  float64
 25  propertylandusedesc           52296 non-null  object
 26  logerror                      52296 non-null  float64
 27  transactiondate               52296 non-null  object
dtypes: float64(24), int64(1), object(3)
memory usage: 13.6+ MB

## Mall Customers Exercises
##### Exercise 1: Acquire data from the customers table in the mall_customers database.

##### Exercise 2: Summarize the data (include distributions and descriptive statistics).

##### Exercise 3: Detect outliers using IQR.

##### Exercise 4: Split data into train, validate, and test.

##### Exercise 5: Encode categorical columns using a one hot encoder (pd.get_dummies).

##### Exercise 6: Handles missing values.

##### Exercise 7: Scaling