In [1]:
import pandas as pd
import numpy as np

import env
import os

# Clustering - Data Wrangling Exercises

## Zillow 
### Acquire and Summarize
##### Exercise 1. Acquire data from the cloud database.

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [2]:
def get_zillow():
    '''
    This function acquires the requisite zillow data from the Codeup SQL database and caches it locally it for future use in a csv 
    document; once the data is accessed the function then returns it as a dataframe.
    '''

    filename = "zillow.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        query = '''
            SELECT 
                p.parcelid,
                airconditioningtypeid,
                architecturalstyletypeid,
                basementsqft,
                bathroomcnt,
                bedroomcnt,
                buildingclasstypeid,
                buildingqualitytypeid,
                calculatedbathnbr,
                decktypeid,
                finishedfloor1squarefeet,
                calculatedfinishedsquarefeet,
                finishedsquarefeet12,
                finishedsquarefeet13,
                finishedsquarefeet15,
                finishedsquarefeet50,
                finishedsquarefeet6,
                fips,
                fireplacecnt,
                fullbathcnt,
                garagecarcnt,
                garagetotalsqft,
                hashottuborspa,
                heatingorsystemtypeid,
                latitude,
                longitude,
                lotsizesquarefeet,
                poolcnt,
                poolsizesum,
                pooltypeid10,
                pooltypeid2,
                pooltypeid7,
                propertycountylandusecode,
                propertylandusetypeid,
                propertyzoningdesc,
                rawcensustractandblock,
                regionidcity,
                regionidcounty,
                regionidneighborhood,
                regionidzip,
                roomcnt,
                storytypeid,
                threequarterbathnbr,
                typeconstructiontypeid,
                unitcnt,
                yardbuildingsqft17,
                yardbuildingsqft26,
                yearbuilt,
                numberofstories,
                fireplaceflag,
                structuretaxvaluedollarcnt,
                taxvaluedollarcnt,
                assessmentyear,
                landtaxvaluedollarcnt,
                taxamount,
                taxdelinquencyflag,
                taxdelinquencyyear,
                censustractandblock,
                propertylandusedesc,
                logerror,
                p.transactiondate
            FROM
                (SELECT predictions_2017.parcelid, 
                        MAX(transactiondate) AS max_date
                FROM predictions_2017
                GROUP
                BY parcelid) AS m
            JOIN predictions_2017 as p
                ON p.parcelid = m.parcelid
                AND p.transactiondate = m.max_date
            JOIN
                properties_2017 ON properties_2017.parcelid = p.parcelid
            JOIN
                propertylandusetype USING (propertylandusetypeid)
            Where
                propertylandusedesc = 'Single Family Residential' AND 
                transactiondate LIKE '2017-%%'
            ;   
        '''
        url = env.get_db_url('zillow')
        df = pd.read_sql(query, url)
        df.to_csv(filename, index = False)

        return df

In [3]:
df = get_zillow()

In [4]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc,logerror,transactiondate
0,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,...,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13,Single Family Residential,0.025595,2017-01-01
1,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,NaN,...,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,Single Family Residential,0.055619,2017-01-01
2,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,Single Family Residential,0.005383,2017-01-01
3,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,NaN,...,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,Single Family Residential,-0.103410,2017-01-01
4,12095076,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,NaN,...,773303.0,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13,Single Family Residential,-0.001011,2017-01-01

##### Exercise 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [5]:
df.shape

(52319, 61)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52319 non-null  int64
 1   airconditioningtypeid         13615 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   52319 non-null  float64
 5   bedroomcnt                    52319 non-null  float64
 6   buildingclasstypeid           0 non-null      float64
 7   buildingqualitytypeid         33654 non-null  float64
 8   calculatedbathnbr             52184 non-null  float64
 9   decktypeid                    389 non-null    float64
 10  finishedfloor1squarefeet      4371 non-null   float64
 11  calculatedfinishedsquarefeet  52238 non-null  float64
 12  finishedsquarefeet12          52073 non-null  float64
 13  finishedsquarefeet13          0 non-null      float64
 14  finishedsquarefeet15          0 non-null      float64
 15  finishedsquarefeet50          4371 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          52319 non-null  float64
 18  fireplacecnt                  7233 non-null   float64
 19  fullbathcnt                   52184 non-null  float64
 20  garagecarcnt                  17984 non-null  float64
 21  garagetotalsqft               17984 non-null  float64
 22  hashottuborspa                1514 non-null   float64
 23  heatingorsystemtypeid         33849 non-null  float64
 24  latitude                      52319 non-null  float64
 25  longitude                     52319 non-null  float64
 26  lotsizesquarefeet             51953 non-null  float64
 27  poolcnt                       11077 non-null  float64
 28  poolsizesum                   865 non-null    float64
 29  pooltypeid10                  443 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   9990 non-null   float64
 32  propertycountylandusecode     52319 non-null  object
 33  propertylandusetypeid         52319 non-null  float64
 34  propertyzoningdesc            33761 non-null  object
 35  rawcensustractandblock        52319 non-null  float64
 36  regionidcity                  51283 non-null  float64
 37  regionidcounty                52319 non-null  float64
 38  regionidneighborhood          18981 non-null  float64
 39  regionidzip                   52293 non-null  float64
 40  roomcnt                       52319 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6717 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       33761 non-null  float64
 45  yardbuildingsqft17            1935 non-null   float64
 46  yardbuildingsqft26            63 non-null     float64
 47  yearbuilt                     52205 non-null  float64
 48  numberofstories               14532 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52237 non-null  float64
 51  taxvaluedollarcnt             52318 non-null  float64
 52  assessmentyear                52319 non-null  float64
 53  landtaxvaluedollarcnt         52318 non-null  float64
 54  taxamount                     52315 non-null  float64
 55  taxdelinquencyflag            2068 non-null   object
 56  taxdelinquencyyear            2068 non-null   float64
 57  censustractandblock           52198 non-null  float64
 58  propertylandusedesc           52319 non-null  object
 59  logerror                      52319 non-null  float64
 60  transactiondate               52319 non-null  object
dtypes: float64(55), int64(1), object(5)
memory usage: 24.3+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,52319.0,1.299682e+07,3.350951e+06,1.071186e+07,1.151017e+07,1.257825e+07,1.413036e+07,1.676878e+08
airconditioningtypeid,13615.0,2.439589e+00,3.847925e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52319.0,2.300015e+00,1.022816e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52319.0,3.300770e+00,9.475632e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingclasstypeid,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingqualitytypeid,33654.0,6.264961e+00,1.716328e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52184.0,2.305276e+00,1.018076e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,389.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4371.0,1.546288e+03,6.753393e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.760000e+03,6.912000e+03
calculatedfinishedsquarefeet,52238.0,1.923169e+03,1.004048e+03,1.280000e+02,1.268000e+03,1.659000e+03,2.306000e+03,2.192900e+04
finishedsquarefeet12,52073.0,1.925331e+03,1.003955e+03,1.280000e+02,1.270000e+03,1.661000e+03,2.309000e+03,2.192900e+04
finishedsquarefeet13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,4371.0,1.567099e+03,7.450848e+02,1.840000e+02,1.152000e+03,1.415000e+03,1.771000e+03,1.246700e+04
finishedsquarefeet6,165.0,1.241079e+03,7.769591e+02,3.800000e+02,7.840000e+02,1.008000e+03,1.320000e+03,5.598000e+03
fips,52319.0,6.049136e+03,2.102926e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7233.0,1.209733e+00,5.129456e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52184.0,2.240035e+00,9.933118e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,17984.0,1.949066e+00,5.499741e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,17984.0,4.959270e+02,1.571009e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1514.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,33849.0,3.965523e+00,2.562644e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,52319.0,3.402256e+07,2.740650e+05,3.334062e+07,3.382690e+07,3.402376e+07,3.418726e+07,3.481877e+07
longitude,52319.0,-1.181941e+08,3.567160e+05,-1.194754e+08,-1.184009e+08,-1.181531e+08,-1.179290e+08,-1.175546e+08
lotsizesquarefeet,51953.0,1.132345e+04,8.674248e+04,2.360000e+02,5.583000e+03,6.841000e+03,8.799000e+03,6.971010e+06
poolcnt,11077.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,865.0,5.183052e+02,1.566148e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,443.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,9990.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,52319.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,52319.0,6.049447e+07,2.086905e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51283.0,3.348217e+04,4.911520e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52319.0,2.524310e+03,8.041023e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,18981.0,1.802406e+05,1.599288e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52293.0,9.663625e+04,4.610427e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52319.0,1.894493e+00,3.146971e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,6717.0,1.013697e+00,1.426896e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
unitcnt,33761.0,1.000859e+00,3.029040e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1935.0,3.373597e+02,2.495793e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52205.0,1.963421e+03,2.312589e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14532.0,1.414189e+00,5.406849e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52237.0,1.966385e+05,2.542880e+05,1.290000e+02,7.715900e+04,1.319100e+05,2.264550e+05,9.164901e+06
taxvaluedollarcnt,52318.0,5.298287e+05,7.518358e+05,1.000000e+03,1.940205e+05,3.740080e+05,6.193580e+05,4.906124e+07
assessmentyear,52319.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52318.0,3.334946e+05,5.705157e+05,1.610000e+02,7.619400e+04,2.180790e+05,4.087795e+05,4.895220e+07
taxamount,52315.0,6.454803e+03,8.752550e+03,4.918000e+01,2.660965e+03,4.650620e+03,7.379320e+03,5.866393e+05
taxdelinquencyyear,2068.0,1.410106e+01,2.400399e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,52198.0,6.050245e+13,1.861145e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14
logerror,52319.0,1.813551e-02,1.769039e-01,-4.655420e+00,-2.470158e-02,6.934779e-03,4.059865e-02,5.262999e+00

##### Exercise 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [8]:
def obs_attr(df):
    num_rows_missing = []
    pct_rows_missing = []
    column_name = []
    for column in df.columns.tolist():
        num_rows_missing.append(df[column].isna().sum())
        pct_rows_missing.append(df[column].isna().sum() / len(df))
        column_name.append(column)
    new_info = {'column_name':column_name, 'num_rows_missing': num_rows_missing, 'pct_rows_missing': pct_rows_missing}
    return pd.DataFrame(new_info, index=None)

In [9]:
zillow_obs = obs_attr(df)
zillow_obs.set_index('column_name', inplace=True)
zillow_obs.head(60)

                              num_rows_missing  pct_rows_missing
column_name
parcelid                                     0          0.000000
airconditioningtypeid                    38704          0.739769
architecturalstyletypeid                 52249          0.998662
basementsqft                             52272          0.999102
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      52319          1.000000
buildingqualitytypeid                    18665          0.356754
calculatedbathnbr                          135          0.002580
decktypeid                               51930          0.992565
finishedfloor1squarefeet                 47948          0.916455
calculatedfinishedsquarefeet                81          0.001548
finishedsquarefeet12                       246          0.004702
finishedsquarefeet13                     52319          1.000000
finishedsquarefeet15                     52319          1.000000
finishedsquarefeet50                     47948          0.916455
finishedsquarefeet6                      52154          0.996846
fips                                         0          0.000000
fireplacecnt                             45086          0.861752
fullbathcnt                                135          0.002580
garagecarcnt                             34335          0.656263
garagetotalsqft                          34335          0.656263
hashottuborspa                           50805          0.971062
heatingorsystemtypeid                    18470          0.353027
latitude                                     0          0.000000
longitude                                    0          0.000000
lotsizesquarefeet                          366          0.006996
poolcnt                                  41242          0.788280
poolsizesum                              51454          0.983467
pooltypeid10                             51876          0.991533
pooltypeid2                              51248          0.979529
pooltypeid7                              42329          0.809056
propertycountylandusecode                    0          0.000000
propertylandusetypeid                        0          0.000000
propertyzoningdesc                       18558          0.354709
rawcensustractandblock                       0          0.000000
regionidcity                              1036          0.019802
regionidcounty                               0          0.000000
regionidneighborhood                     33338          0.637206
regionidzip                                 26          0.000497
roomcnt                                      0          0.000000
storytypeid                              52272          0.999102
threequarterbathnbr                      45602          0.871615
typeconstructiontypeid                   52243          0.998547
unitcnt                                  18558          0.354709
yardbuildingsqft17                       50384          0.963015
yardbuildingsqft26                       52256          0.998796
yearbuilt                                  114          0.002179
numberofstories                          37787          0.722242
fireplaceflag                            52238          0.998452
structuretaxvaluedollarcnt                  82          0.001567
taxvaluedollarcnt                            1          0.000019
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        1          0.000019
taxamount                                    4          0.000076
taxdelinquencyflag                       50251          0.960473
taxdelinquencyyear                       50251          0.960473
censustractandblock                        121          0.002313
propertylandusedesc                          0          0.000000
logerror                                     0          0.000000

Many of the columns essentially have no data in them. I need to get ride of the majority of them as they are just junk and decide how to deal with the nulls in the remaining columns after.

### Prepare
##### Exercise 1: Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...)

In [10]:
df.propertylandusedesc.value_counts()

Single Family Residential    52319
Name: propertylandusedesc, dtype: int64

As seen above, I took care of this in my SQL query and only pulled in Single Family Residential properties.

##### Exercise 2: Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [11]:
def drop_undesired(df, prop_required_column = .9, prop_required_row = .9):
    ''' This function takes in a dataframe and drops columns based on whether it meets the threshold for having values
    in rows and not null values. It then drops any rows based on whether it meets the threshold for having enough
    values in the row.
    
    Arguments: df - a dataframe
                prop_required_column - the proportion of a given column that must be filled by values and not nulls
                prop_required_row - the proportion of a given row that must be filled by values and not nulls
    Returns: a dataframe which no longer has the rows and columns dropped that didn't meet the threshhold.
    '''
    for column in df.columns.tolist():
        if 1-(df[column].isna().sum() / len(df)) < prop_required_column:
            df = df.drop(column, axis = 1)
            
    for row in range(len(df)):
        if 1-(df.loc[row].isna().sum() / len(df.loc[row])) < prop_required_row:
            df = df.drop(row, axis=0)
    return df

In [12]:
drop_undesired(df).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52176 entries, 0 to 52318
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52176 non-null  int64
 1   bathroomcnt                   52176 non-null  float64
 2   bedroomcnt                    52176 non-null  float64
 3   calculatedbathnbr             52140 non-null  float64
 4   calculatedfinishedsquarefeet  52175 non-null  float64
 5   finishedsquarefeet12          52031 non-null  float64
 6   fips                          52176 non-null  float64
 7   fullbathcnt                   52140 non-null  float64
 8   latitude                      52176 non-null  float64
 9   longitude                     52176 non-null  float64
 10  lotsizesquarefeet             51844 non-null  float64
 11  propertycountylandusecode     52176 non-null  object
 12  propertylandusetypeid         52176 non-null  float64
 13  rawcensustractandblock        52176 non-null  float64
 14  regionidcity                  51174 non-null  float64
 15  regionidcounty                52176 non-null  float64
 16  regionidzip                   52174 non-null  float64
 17  roomcnt                       52176 non-null  float64
 18  yearbuilt                     52149 non-null  float64
 19  structuretaxvaluedollarcnt    52119 non-null  float64
 20  taxvaluedollarcnt             52176 non-null  float64
 21  assessmentyear                52176 non-null  float64
 22  landtaxvaluedollarcnt         52176 non-null  float64
 23  taxamount                     52173 non-null  float64
 24  censustractandblock           52099 non-null  float64
 25  propertylandusedesc           52176 non-null  object
 26  logerror                      52176 non-null  float64
 27  transactiondate               52176 non-null  object
dtypes: float64(24), int64(1), object(3)
memory usage: 13.6+ MB

## Mall Customers Exercises
##### Exercise 1: Acquire data from the customers table in the mall_customers database.

In [15]:
query = '''
SELECT * 
FROM customers;
'''
url = env.get_db_url('mall_customers')
df = pd.read_sql(query, url)

In [19]:
df = df.set_index('customer_id')
df.head()

             gender  age  annual_income  spending_score
customer_id
1              Male   19             15              39
2              Male   21             15              81
3            Female   20             16               6
4            Female   23             16              77
5            Female   31             17              40

##### Exercise 2: Summarize the data (include distributions and descriptive statistics).

##### Exercise 3: Detect outliers using IQR.

##### Exercise 4: Split data into train, validate, and test.

##### Exercise 5: Encode categorical columns using a one hot encoder (pd.get_dummies).

##### Exercise 6: Handles missing values.

##### Exercise 7: Scaling